body {
  width: 99%;
  height: 900px;
  background-color: #e0bd9c;
}

#top-bar {
  margin-top: 28px;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

img {
  width: 250px;
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 22px;
  font-style: italic;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}

h1 {
  color: #e3693b;
}
/* New Submit Button */
.btn-primary, :link {
  color: #3f453e;
  background-color: #e3693b;
  border-color: #eed5c3;
}
.btn-primary:hover, :visited {
  color: #3f453e;
  background-color: #eed5c3;
  border-color: #e3693b;
}
.btn-primary:active {
  color: #ffffff !important;
  background-color: #3f453e !important;
  border-color: #e3693b !important;
}

.form-control:hover {
  color: #3f453e;
  background-color: #eed5c3;
  /* border-color: #e3693b; */
}
